*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: INFO;
    src: url('./fuentes/EBGaramond-VariableFont_wght.ttf');
}
.presentacion{
    background-image: url('./media/fondo-textura.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.flores{
    width: 350px;
}
.imgKYM{
    margin: 0 auto;
    width: 300px;
}
h5{
    font-family: INFO;
    text-align: center;
    margin-top: 5rem;
    font-size: 25px;
    color: #7c8072;
}
.imgPres{
    width: 100%;
    min-height: 100vh;
}
.contador{
    font-family: INFO;
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.068)),url('./media/fondo-textura.jpg');
}
.contador2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: #7c8072;
}
.nYlContainer{
    color: #7c8072;
    width:30px;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nContador{
    color: #7c8072;
    font-size: 30px;
}
.lContador{
    color: #7c8072;
    font-size: 30px;

}
.informacion{
    font-family: INFO;
    background-image: url('./media/fondo-textura.jpg');
    min-height: 300px;
    text-align: center;
    color:#7c8072;
}
.calendario{
    color: #efab96;
    padding: 2rem 0;
    width: 90px;
}
.mes{
    font-family: INFO;
    font-size: 30px;
    padding-bottom: .5rem;
}
.numero{
    font-family: INFO;
    font-size: 50px;
    padding: 0 .5rem;
}
.dia, .hora{
    font-family: INFO;
    font-size: 30px;
}
.año{
    font-family: INFO;
    padding-top: .5rem;
    font-size: 30px;
}
.lugar{
    font-family: INFO;
    font-size: 25px;
    padding-bottom: .5rem;
}
a{
    color:#7c8072;
    font-size: 20px;
    font-family: INFO;
}
.regalo{
    font-size: 25px;
    max-width: 80%;
    margin: 0 auto;
    font-family: INFO;
}
.asistencia{
    background-image: url('./media/fondo-textura.jpg');
    padding-top: 2rem;
}
.asistenciaTexto{
    color:#7c8072;
    text-align: center;
    padding-top: 2rem;
    font-size: 25px;
    font-family: INFO;
}
.aConteiner{
    display: flex;
    justify-content: center;
}
.imgAsistencia{
    border-radius: 50%;
    width: 70px;
}
.aConfirmar{
    text-decoration: none;
    text-align: center;
    margin:1rem;
    display: flex;
    flex-direction: column;

}
.final{
    background-image: url('./media/fondo-textura.jpg');
    text-align: right;
}