*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: INFO;
    src: url('./fuentes/EBGaramond-VariableFont_wght.ttf');
}
.presentacion{
    background-image: url('./media/fondo-textura.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.flores{
    width: 350px;
}
.imgKYM{
    margin: 0 auto;
    width: 300px;
}
h5{
    font-family: INFO;
    text-align: center;
    margin-top: 5rem;
    font-size: 25px;
    color: #7c8072;
}
.imgPres{
    width: 100%;
    min-height: 100vh;
}
.contador{
    font-family: INFO;
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.068)),url('./media/fondo-textura.jpg');
}
.contador2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: #7c8072;
}
.nYlContainer{
    color: #7c8072;
    width:30px;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nContador{
    color: #7c8072;
    font-size: 30px;
}
.lContador{
    color: #7c8072;
    font-size: 30px;

}
.informacion{
    font-family: INFO;
    background-image: url('./media/fondo-textura.jpg');
    min-height: 300px;
    text-align: center;
    color:#7c8072;
}
.calendario{
    color: #efab96;
    padding: 2rem 0;
    width: 90px;
}
.mes{
    font-family: INFO;
    font-size: 30px;
    padding-bottom: .5rem;
}
.numero{
    font-family: INFO;
    font-size: 50px;
    padding: 0 .5rem;
}
.dia, .hora{
    font-family: INFO;
    font-size: 30px;
}
.año{
    font-family: INFO;
    padding-top: .5rem;
    font-size: 30px;
}
.lugar{
    font-family: INFO;
    font-size: 25px;
    padding-bottom: .5rem;
}
.aLugar{
    color:#7c8072;
    font-size: 20px;
    font-family: INFO;
}
.btn-gm{
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.274);
    text-decoration: none;
    border: solid 1px #7c8072;
    padding: .5rem;
    border-radius: 10px;
}
.regalo{
    font-size: 25px;
    max-width: 80%;
    margin: 0 auto;
    font-family: INFO;
}
.asistencia{
    background-image: url('./media/fondo-textura.jpg');
    padding-top: 2rem;
}
.asistenciaTexto{
    color:#7c8072;
    text-align: center;
    padding-top: 2rem;
    font-size: 25px;
    font-family: INFO;
}
.aConteiner{
    display: flex;
    justify-content: center;
}
.imgAsistencia{
    border-radius: 50%;
    width: 70px;
    margin-bottom: .5rem 0;
}
.aConfirmar{
    text-decoration: none;
    text-align: center;
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#7c8072;

}
.final{
    background-image: url('./media/fondo-textura.jpg');
    text-align: right;
}
.estilo-modal{
    font-family: INFO;
    padding: 2rem 1rem;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-image: url('./media/fondo-textura.jpg');
    
}
.h2Regalos{
    color: #595c51;
    font-size: 35px;
    font-family: INFO;
    margin-bottom: 1rem;
}
.h3Regalos{
    margin: 1rem ;
    color: #595c51;
    font-size: 25px;
    font-family: INFO;
    text-decoration: underline;
}
.pInfoBanco{
    font-family: INFO;
    color: #595c51;
    font-size: 20px;
}
#btn{
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.274);
    text-decoration: none;
    border: solid 1px #7c8072;
    padding: .5rem;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color:#6e7265;
    font-family: INFO;
}

/* REGALOS HTML */
.bodyRegalos{
    background-image: url('./media/fondo-textura.jpg');
    font-family: INFO;
    color: #7c8072;
}
.tituloRegalos{
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
}
#lista{
    max-width: 300px;
    margin: 0 auto;
}
.pRegalos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: INFO;
    color: #7c8072;
    font-size: 25px;
    margin: 10px 0;
}

.btnSeleccionar{
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.274);
    text-decoration: none;
    border: solid 1px #7c8072;
    padding: .5rem;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    color:#6e7265;
    font-family: INFO;
}

.spaaan{
    display: flex;
    justify-content: center;

}

.loader {
    margin-top: 2rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #6e7265;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.sacarLoader{
    display: none;
}

.volver{
    margin: 1rem;
    font-size: 20px;
    text-decoration: none;
    font-family: INFO;
    color: #7c8072;
    text-align: left;
}

.algunasIdeas{
    font-size: 20px;
    font-family: INFO;
    display: flex;
    justify-content: center;
}

.noLook{
    display: none;
}